#offcanvasRight.offcanvas.offcanvas-end(tabindex='-1' aria-labelledby='offcanvasRightLabel')
  .offcanvas-header
    h5#offcanvasRightLabel Filter
    button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
  .offcanvas-body
    form()
      .mb-3
        label(for="lstFrameworks") Supported Frameworks / Platforms:
        select#lstFrameworks.form-select(
          aria-label='Language', 
          name="frameworks",
          hx-post="/filter",
          hx-trigger="change",
          hx-include="[name='frameworks']"
          hx-target="#results"
          hx-indicator="#indicator"
          )
          option(value='none') Choose a Framework / Platform
          option(value='all') Framework Agnostic
          option(value='RAILS') RAILS
          option(value='Phoenix') Phoenix
          option(value='Laravel') Laravel
          option(value='Django') Django
          option(value='Node') Node
    each filter in filters
      .form-check
        input.form-check-input(
        id=filter.id,
        type='checkbox' 
        name=filter.name 
        hx-post="/filter" 
        hx-trigger="click" 
        hx-include="[name='" + filter.name + "']" 
        hx-target="#results"
        hx-indicator="#indicator"
        )
        label.form-check-label(for=filter.id)
          | #{filter.label}

