include _mixins
button#btnReverse.btn.btn-sm.btn-secondary(
  hx-get="/reverse-timeline?dir=" + dir, 
  type="button"
  hx-target="#timeline",
  hx-swap-oob="true"
  hx-indicator="#indicator"
  ) 
  if dir === 'normal'
    +icon-arrow-down() 
  else
    +icon-arrow-up()
  |  Reverse Timeline
