each lib,index in libs
  li
    div(class=index % 2 === 0 ? 'direction-r' : 'direction-l')
      .flag-wrapper
        span.flag
          a(target='_blank' href=lib.github.url) #{lib.name}
        span.time-wrapper.svelte-1dx5vin
          span.time.svelte-1dx5vin #{lib.releasedIn}
      .desc.svelte-1dx5vin #{lib.description}
